body{
	width: 1370px;
}
.inline{
	display: inline-block;
}
.color{
	color: orange;
}
li{
	margin-right: 15px;

}
.head{
	margin-bottom: 43px;
}
.logo{
	margin:15px 10px 0 30px;
	vertical-align: baseline;

}
/*first div*/
.photo{
	width: 270px;
	height: 210px;
	margin:10px 39px 197px 30px;
	vertical-align: top;
}
.text{
	width:929px;
	height: 360px;
	font-size: 16px;
	margin:5px 10px 0 0;
	vertical-align: top;
	font-family: "BPG Ingiri Arial", sans-serif;
}
.tve{
	width: 46px;
	height: 55px;
	margin-left: 30px ;
	background-color:royalblue;
}
.mai{
	margin-left: 30px;
	color: steelblue;
}
.number{
	font-size: 41px;
	color: whitesmoke;
}
.sami{
	margin:20px 39px 10px 30px;
	font-family: "BPG Nino Mtavruli", sans-serif;
}
.allsect{
	margin-bottom: 100px;
}

.fbook{
	margin:0 35px;
}
.point{
	width: 100px;
	height: 117px;
	margin: 0 60px 42px 38px;
	vertical-align: top;
}
.mob{
	width: 85px;
	height: 128px;
	margin: 0 52px 56px 63px;
	vertical-align: top;

}
.psize{
	width: 355px;
	height: 144px;
	font-size: 20px;
	color: #333333;
	vertical-align: top;
}
.pdiv{
	width: 570px;
	height: 225px;
	background-color: whitesmoke;
	margin-left: 30px;
	vertical-align: top;
}
.pcolor{
	color:#3D58A6;
	font-size: 22px;
	margin-bottom: 13px;
}
h2{
	margin:120px 0 31px 30px;
	color:#000000;
	font-size: 24px;
	font-weight: bold;
}
.mainnews{
	padding-bottom: 68px;
}
.htm{
	padding:30px 0 0 30px;
	margin: 0 auto;
}
.maindiv-c{
	width: 1366px;
	height: 570px;
	background-color: #E6E6E6;
	margin-bottom: 31px;
}
.cinfo{
	color: royalblue;
	font-weight: bold;
	
}
.cdiv{
	margin-top: 70px;
	margin-left: 100px;
}
.map{
	width: 874px;
	height: 466px;
	margin-top: 70px;
	background-color: lightblue;
	vertical-align: top;
}
.xazi{
	width: 1.5px;
	height: 32px;
	background-color: steelblue;
	display: inline-block;
	margin-right: 35px;
}
.ninomtav-b{
	font-family: "BPG Nino Mtavruli Bold", sans-serif;
}
.roboto{
	font-family: 'Roboto', sans-serif;
}